<template>
  <div>
    <div class="field">
      <label class="label">Nom</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Nom"
          v-model="name"
          :disabled="isConfirm"
        >
      </div>
    </div>

    <div class="field">
      <label class="label">Prénom</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Prénom"
          v-model="firstName"
          :disabled="isConfirm"
        >
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control" v-if="!isConfirm">
        <button class="button is-link" @click="submitForm">Valider</button>
      </div>

      <div class="control" v-if="isConfirm">
        <button class="button is-link" @click="confirm">Confirmer</button>
      </div>

      <div class="control">
        <button class="button is-text" @click="cancel">Annuler</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'StepForm',
    /*
    data () {
      return {
        name: '',
        firstName:''
      }
    },
    */
    props: {
      isConfirm: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      name: {
        get () {
          return this.$store.state.form.name
        },
        set (value) {
          this.$store.commit('updateField', {
            key: 'name',
            value: value
          })
        }
      },
      firstName: {
        get () {
          return this.$store.state.form.firstName
        },
        set (value) {
          this.$store.commit('updateField', {
            key: 'firstName',
            value: value
          })
        }
      }
    },
    methods: {
      submitForm () {
        // this.$store.commit('submitForm', this.$data)
        this.$router.push({path: '/confirm'})

        /* Same as
        this.$store.commit('SUBMIT_FORM', {
          name: this.name,
          firstName: this.firstName
        })
        */
      },
      cancel () {
        this.$store.commit('cancel')
      },
      confirm () {
        this.$store.commit('confirm')
      }
    }
  }
</script>

<style scoped>

</style>
