<template>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        Parcours flash
      </a>

      <div class="navbar-burger" @click="showMenu = !showMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" :class="{'is-active': showMenu}">
      <div class="navbar-start">
        <router-link to="/" class="navbar-item" active-class="is-active" exact>Step 1</router-link>
        <router-link to="/confirm" class="navbar-item" active-class="is-active">Confirm</router-link>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    name: 'Navbar',
    data () {
      return {
        showMenu: false
      }
    }
  }
</script>

<style scoped>

</style>
