<template>
<div>
  <h2 class="title">Étape 1</h2>

  <step-form></step-form>
</div>
</template>

<script>
  import StepForm from './Form'

  export default {
    name: 'StepOne',
    components: {
      StepForm
    }
  }
</script>

<style scoped>

</style>
