<template>
<div>
  <h2 class="title">Étape de confirmation</h2>

  <step-form :is-confirm="true"></step-form>
</div>
</template>

<script>
  import StepForm from './Form'

  export default {
    name: 'StepConfirm',
    components: {
      StepForm
    }
  }
</script>

<style scoped>

</style>
