<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
  <h1>{{ message }}</h1>
  <h1>{{ revertedMessage }}</h1>
  <button v-on:click="reverseMessage">Message retourné</button>
  <input v-model="message" type="text" placeholder="Enter your message">
</div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello World!'
    },
    computed: {
      revertedMessage: function () {
        return this.message.split('').reverse().join('')
      }
    },
    methods: {
      reverseMessage: function () {
        this.message = this.message.split('').reverse().join('')
      }
    }
  })
</script>
</body>
</html>
