<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <style>
    body {font-family: "Courier New", Courier, monospace;}

    button, input, select {font-family: "Courier New", Courier, monospace;background-color: white;border: 1px solid black;padding: 0.5rem;}

    .box {border: 1px solid grey;padding: 1rem;margin-bottom: 1rem}
  </style>
</head>
<body>

<div id="vue" class="box">
  <h1>Vue</h1>
  <p>{{ hello }} {{ name }} <span v-html="name"></span></p>
  <button @click="doSomething">Click me!</button>
  <input @change="onInputChange" v-model="name" type="text" placeholder="Enter your name">

  <h3>Toggle the visibility of an element</h3>

  <div v-if="visible">I'm visible!</div>

  <div>
    <button @click="visible = !visible">Toggle</button>
    <button @click="hideJquery">Hide jQuery</button>
  </div>

  <h3>Building a select input from an array</h3>

  <select>
    <option v-for="(network, index) of socialNetworks" :value="index">{{ network }}</option>
  </select>
</div>

<div id="jquery" class="box">
  <h1>jQuery</h1>
  <p id="content"></p>
  <button id="button">Click me!</button>
  <input id="input" type="text" placeholder="Enter your name">

  <h3>Toggle the visibility of an element</h3>

  <div id="divToToggle">I'm visible!</div>

  <div>
    <button id="buttonHide">Toggle</button>
    <button id="buttonHideVue">Hide Vue</button>
  </div>

  <h3>Building a select input from an array</h3>

  <select id="networks"></select>
</div>

<script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
  /**
   * Vue
   */
  var app = new Vue({
    el: '#vue',
    data: {
      hello: 'Hello',
      name: '',
      visible: true,
      socialNetworks: ['Facebook', 'Twitter', 'YouTube', 'Instagram', 'LinkedIn']
    },
    methods: {
      doSomething: function () {
        alert('Clicked!')
      },
      onInputChange: function () {
        console.log('Vue', 'Hello ' + this.name)
      },
      hideJquery: function () {
        // $('#jquery').toggle() // On peut mais c'est moche...
        this.toggle('#jquery')
        // this.showJquery = !this.showJquery
      },
      toggle: function (selector) {
        var elem = document.querySelector(selector)

        if (window.getComputedStyle(elem).display === 'block') {
          elem.style.display = 'none'
        } else {
          elem.style.display = 'block'
        }
      }
    },
    // delimiters: ['${', '}']
  })

  // console.log(app.humanizeURL(app.hello))

  /**
   * jQuery
   */
  $(document).ready(function () {
    $('#content').text('Hello')

    $('#button').click(function () {
      alert('Clicked!')
    })

    $('#input').change(function () {
      console.log('jQuery', 'Hello ' + $(this).val())
    })

    $('#input').keyup(function () {
      $('#content').html('Hello ' + $(this).val())
    })

    // $('#divToToggle').hide()
    $('#buttonHide').click(function () {
      $('#divToToggle').toggle()
    })

    $('#buttonHideVue').click(function () {
      $('#vue').toggle()
    })

    var socialNetworks = ['Facebook', 'Twitter', 'YouTube', 'Instagram', 'LinkedIn']
    var list

    $.each(socialNetworks, function (index, value) {
      list += '<option value="' + index + '">' + value + '</option>'
    })

    $('#networks').html(list)
  })
</script>

<!--
# Liens utiles
https://scotch.io/bar-talk/vuejs-vs-jquery-use-cases-and-comparison-with-examples
https://blog.lesieur.name/pourquoi-abandonner-jquery-pour-vue-angular-react/
-->
</body>
</html>
