<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
  <style>
    .done {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
<div id="app">
  <h1>TODO ({{ numberOfTasks }})</h1>
  <input v-model="taskToAdd">
  <button v-on:click="addTodo">Ajouter</button>
  <ul>
    <li v-for="todo in todos">
      <span v-bind:class="{'done': todo.done}">{{ todo.task }}</span>
      <button v-on:click="todo.done = !todo.done">Toggle</button>
    </li>
  </ul>
</div>

<script>
var app = new Vue({
  el: '#app',
  data: {
    todos: [],
    taskToAdd: ''
  },
  methods: {
    addTodo: function () {
      if (this.taskToAdd !== '') {
        this.todos.push({
          task: this.taskToAdd,
          done: false
        })

        this.taskToAdd = ''
      }
    }
  },
  computed: {
    numberOfTasks () {
      return this.todos.filter((todo) => {
        return !todo.done
      }).length
    }
  }
})
</script>
</body>
</html>
