<template>
  <div id="app">
    <navbar></navbar>

    <section class="section">
      <div class="container">
        <router-view></router-view>
      </div>
    </section>

    <transition name="fade">
      <section v-if="isConfirmed" class="section">
        <img src="./assets/logo.png">
      </section>
    </transition>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Navbar from './components/Navbar'

  export default {
    name: 'App',
    components: {
      Navbar
    },
    /*
    computed: {
      isConfirmed () {
        return this.$store.state.isConfirmed
      }
    },
    */
    computed: mapState({
      isConfirmed: state => state.isConfirmed
    })
  }
</script>

<style lang="scss">
  @import "assets/scss/main";

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
